<div class='col_fade'>
  <p>公众号【江南府大百科】;微信群主katherine2266;QQ总群687709120;社区维护muxin20181001</p>
<!--  <p>服务器搭建在-->
<!--    <a href="https://www.digitalocean.com/?refcode=eba02656eeb3" target="_blank"-->
<!--      class="sponsor_outlink" data-label="digitalocean">-->
<!--      <img src="<%- staticFile('/public/images/digitalocean.png') %>" title="digitalocean"-->
<!--      alt="digitalocean" width="92px"/>-->
<!--    </a>-->
<!--  ，存储赞助商为-->
<!--    <a href="http://www.qiniu.com/?ref=cnode" target="_blank"-->
<!--      class="sponsor_outlink" data-label="qiniu_bottom">-->
<!--      <img src="<%- staticFile('/public/images/qiniu.png') %>" title="七牛云存储"-->
<!--      alt="七牛云存储" width="115px"/>-->
<!--    </a>-->
<!--  </p>-->
<!--  <p>新手搭建 Node.js 服务器，推荐使用无需备案的 <a href="https://www.digitalocean.com/?refcode=eba02656eeb3">DigitalOcean(https://www.digitalocean.com/)</a></p>-->
</div>
