<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### 关于
江南府社区，搭建初衷，为邻居们提供一个信息共享的平台。希大家和谐交流，共建江南府温暖大家庭。
不要发表违反政策的言论，做一个爱党爱国的好公民，不然如果被请喝茶，社区网站就只能关闭喽。

### 信息
[社区开发信息链接](http://jnf.ycrsky.com/topic/60025b855791d32996578770)
有疑问或需要帮助的，请联系牧心，微信号muxin20181001

*/
        })) %>
      </div>
    </div>
  </div>
</div>
